body{
    background-image: linear-gradient(to right, lightblue, white);
}
.Listing{
    display: table;
    margin: auto;
}

/*Navbar css*/
.navbar{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: rgb(73, 156, 156);
}
.brand-Text{
    color: black;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.brand-Text:hover{
    color: black;
}
.heart-badge{
    color: whitesmoke;
    font-size: xx-large;
    cursor: pointer;
}
.shortlistimg{
    width: 5rem;
    height: 5rem;
    border: solid 1px black;
}
.trash{
    color: rgb(214, 56, 56);
    font-size: x-large;
    cursor: pointer;
}
.smallclose{
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: larger;
    cursor: pointer;
}
.card_details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    padding: 10px;
}


/* Listing Page */
.card_style{
    width: 22rem;
    border: solid 1 px;
    cursor: pointer;
    transition: .3s;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(180, 220, 220);
}

.Search-form{ 
    display: table;
    margin: auto;
}
.search-label{
    font-size: larger;
    display:flexbox;
}

.search-bar{
    border:solid 1px;
    display: inline-block;
    margin: 20px;   
    width: 25rem;
    height: 40px; 
}

.cardimg{
    height: 16rem;
}

.shortlist-button{
    display: table;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(71, 106, 171);
    width: 15rem;
}
  .smalltrash{
      display: none;
  }
  
  
  .card_style:hover{
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  
  .iteamsdetails{
      max-width: 8000px;
      height: 700px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
      background-color: rgb(180, 220, 220);
  }
  .items_img{
      flex: .4;
      display: table;
      margin: auto;
  }
  .items_img img{
      width: 30rem;
      border: solid 1px rgb(0, 0, 0);
      border-radius: 9px;
  }
  
  .details{
      flex: .5;
  };



  @media (max-width:772px){
      .iteamsdetails{
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }
  
  @media (max-width:450px){
      .smalltrash{
          display: block;
          color: rgb(255, 0, 0);
      }
      .largetrash{
          display:none;
      }
      .smallclose{
          display: none;
      }
  
      /* individual iteams details */
     
      .items_img img{
          width: 16rem;
          margin-left: 40px;
      }
      
  }