h4{
    flex:table;
    text-align: center;
    margin-top:40px ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
img.homeimg{

    position: absolute;
    opacity: 60%;
    width: fit-content;
    height: fit-content;
    height: 947px;
    width:1845px;
    z-index: -100;
    top: 0;
}

@media (max-width:450px){

}