
h1.Login-Heading{
    margin-top: 100px;
    text-align: center;
}
.Login-form{

    display: table;
    border: 1px solid;
    height: 250px;
    width: 400px;
    padding-top: 30px;
    margin:auto;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT14_DyooE5sLLfhRZ1bdGyO8JzN-lITT6T_g&usqp=CAU"); */
    background-color: rgb(184, 201, 213);
}

label{
    margin-left: 40px;
    display: inline-block;
}

input.Login-input{

    display: inline-block;
    margin: 20px;
    height:2.5rem;
    width: 13rem;
    /* border: solid .01px; */
    border: none;
    border-radius: 10px;
    font-family:cursive;
}
button #Login-submit{
    height: 30px;
    width: 80px;
    margin-top: 15px;
    border-radius: 8px;
}
.New-user{
    margin-top: 1rem;
    text-align: center;
}   
#login-submit-button{
    display: table;
    margin: auto;
    margin-top: 10px;
    border: solid 1px;
    border-radius: 15px;
    width: 7rem;
    height: 2rem;
    background-color:rgb(196, 217, 234) ;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
#login-submit-button:hover{
    background-color:aliceblue ;
}
