h1.Signup-Heading{
    margin-top: 100px;
    text-align: center;
}
.Signup-form{
    display: table;
    border: 1px solid;
    height: 500px;
    width: 500px;
    padding-top: 40px;
    margin:auto ;
    background-color: rgb(184, 201, 213);
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    display:inline-block;
    text-align: right;
    width: 90px;
}

input.signup-input{
    height: 2rem;
    width:16rem;
    border: solid .01px;
    display: inline-block;
    margin: 30px;
    font-family:'Times New Roman', Times, serif;
}

#signup-submit{
  display: table;
  margin: auto;
  margin-top: 10px;
  border: solid 1px;
  border-radius: 10px;
  width: 7rem;
  height: 2rem;
  background-color:rgb(196, 217, 234) ;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

#signup-submit:disabled{
    display: table;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(225, 237, 248);
    color: black;
  }


.Existing-user{
    text-align: center ;
}
/* input:valid{
    border-color: green;
}
input:invalid{
    border-color: red;
} */