h1.Signup-Heading{
    margin-top: 100px;
    text-align: center;
}
.Signup-form{
    display: table;
    border: 2px solid;
    height: 380px;
    width: 450px;
    padding-top: 30px;
    margin:auto ;
    background-color: aquamarine;
}

label{
    display:inline-block;
    text-align: right;
    width: 90px;
}

input{
    display: inline-block;
    margin: 20px;
    /* margin-left: 40px; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#signup-submit{
  display: table;
  margin: auto;
  margin-top: 10px;
  border: solid 1px;
  border-radius: 10px;
  width: 7rem;
  height: 2rem;
}

#signup-submit:disabled{
    display: table;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(117, 173, 218);
    color: black;
  }


.Existing-user{
    text-align: center ;
}
input:valid{
    border-color: green;
}
input:invalid{
    border-color: red;
}